body {
	font-family: "Raleway";
	line-height: 25px;
	margin: 0px;
}
h2 {
	font-weight: bolder;
}
header {
	background-color: #337AB7;
	text-align: center;
	padding: 10px;
	position: fixed;
	width: 100%;
	align-items: center;
	vertical-align: middle;
}
header img {
	display: inline-block;
	vertical-align: middle;
}
header ul {
	padding: 0px;
	display: inline-block;
	list-style-type: none;
	vertical-align: middle;
}
header ul li{
	color: #FFFFFF;
	margin-left: 30px;
	display: inline-block;
	transition-duration: 0.2s;
}
header .dropdown-conteudo {
	background-color: #FFFFFF;
	text-align: left;
	min-width: 100px;
	visibility: hidden;
	display: block;
	position: fixed;
	z-index: 1;
	transition-duration: 0.2s;
	opacity: 0%;
}
header .dropdown-conteudo li {
	color: #337AB7;
	padding: 5px;
}
header .dropdown:hover .dropdown-conteudo {
	visibility: visible;
	opacity: 100%;
}
header .dropdown ul li {
	display: block;
}
#fundo {
	background-image: url("../img/banner1.jpg");
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	height: 800px;
}
nav {
	padding: 10%;
	padding-top: 150px;
}
nav#inicio-nav {
	padding-top: 30px;
}
nav #noticias-container {
	white-space: nowrap;
	overflow: auto;
}
nav .noticia {
	text-align: left;
	width: 250px;
	padding: 10px;
	display: inline-block;
	vertical-align: top;
	white-space: normal;
}
nav .noticia img {
	width: 250px;
	height: 200px;
}
nav p {
	border: none;
	border-bottom: 2px solid #DDDDDD;
	padding-bottom: 30px;
}
nav #selecionar button {
	background-color: #CCCCCC;
	border: none;
	border-radius: 5px;
	width: 30px;
	height: 30px;
	transition-duration: 0.2s;
}
nav #selecionar button:hover {
	background-color: #9999FF;
}
nav#historia h1 {
	text-align: center;
	padding-bottom: 20px;
	border-bottom: 2px solid #DDDDDD;
}
nav#historia p {
	text-align: justify;
}
nav#historia strong {
	font-weight: bolder;
}
nav#historia .historia-div {
	margin-left: 5%;
	width: 40%;
	display: inline-block;
}
nav#colunas div {
	margin-right: 5%;
	display: inline-block;
	vertical-align: top;
}
nav button.btazul {
	color: #FFFFFF;
	background-color: #337AB7;
	border: none;
	border-radius: 20px;
	margin: 10px;
	width: 30%;
	padding: 20px;
	display: inline-block;
	vertical-align: top;
	transition-duration: 0.2s;
}
nav button.btazul:hover {
	transform: scale(1.04);
}
nav button.faq p {
	color: #337AB7;
	background-color: #EFEFEF;
	text-align: justify;
	border: none;
	border-radius: 20px;
	padding: 10px;
	display: none;
}
nav img.parc {
	width: 100px;
	margin: 20px;
	margin-left: 0px;
}
form label {
	text-align: right;
}
form input, form select {
	background-color: #EFEFEF;
	border: none;
	border-radius: 10px;
	padding: 10px;
	margin: 10px;
}
#midias-sociais {
	background-color: #CBCBCB;
	text-align: center;
	padding: 20px;
}
#midias-sociais i {
	padding-left: 40px;
}
footer {
	background-color: #EFEFEF;
	text-align: center;
	padding-top: 2%;
	padding-bottom: 60px;
}
footer .rodape-divs {
	text-align: left;
	margin-left: 4%;
	margin-bottom: 10px;
	width: 25%;
	display: inline-block;
	vertical-align: top;
}
footer .rodape-divs h2 {
	color: #337AB7;
	border-bottom: 2px solid #337AB7;
}
footer .rodape-divs ul {
	list-style-type: none;
	font-weight: bold;
	padding: 0px;
}
footer img.parc {
	width: 100px;
	margin: 20px;
	margin-left: 0px;
}
footer span {
	text-align: center;
	margin: 30px;
}
a:link,a:visited{
	color: #337AB7;
	text-decoration: none;
}
a:hover,a:active{
	color: #337AB7;
	text-decoration: none;
}