:root{
	--azul: #337AB7;
	--cinza: #EFEFEF;
	--cinza-escuro: #CBCBCB;
	--branco: #FFFFFF;
}
body {
	font-family: "Raleway";
	line-height: 25px;
	margin: 0px;
}
h2 {
	font-weight: bolder;
}
header {
	background-color: var(--azul);
	text-align: center;
	padding: 10px;
	position: fixed;
	width: 100%;
	align-items: center;
	vertical-align: middle;
	z-index: 2;
	transition-duration: .2s;
}
header button#hamburger{
	display: none;
}
header img {
	display: inline-block;
	vertical-align: middle;
	transition-duration: .2s;
}
header img:hover {
	transform: scale(1.05);
}
header ul#sidebar {
	padding: 0px;
	display: inline-block;
	list-style-type: none;
	vertical-align: middle;
}
header ul#sidebar li{
	color: var(--branco);
	margin-left: 30px;
	display: inline-block;
	transition-duration: 0.2s;
}
header ul#sidebar li:hover {
	text-decoration: underline;
}
header ul#sidebar .dropdown .dropdown-conteudo {
	background-color: var(--branco);
	text-align: left;
	min-width: 100px;
	visibility: hidden;
	display: block;
	position: fixed;
	z-index: 1;
	padding: 0px;
	transition-duration: 0.2s;
	opacity: 0%;
}
header ul#sidebar .dropdown:hover .dropdown-conteudo {
	visibility: visible;
	opacity: 100%;
}
header ul#sidebar .dropdown .dropdown-conteudo li {
	color: var(--azul);
	margin: 0px;
	padding: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	display: block;
}
header ul#sidebar .dropdown .dropdown-conteudo li:hover {
	background-color: var(--cinza);
	text-decoration: none;
}

#fundo {
	background-image: url("../img/banner1.jpg");
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	height: 800px;
	animation: 1s ease-out fundotrans;
}
@keyframes fundotrans {
  0% {
  	background-size: 110%;
  }
  100% {
  	background-size: 100%;
  }
}
nav {
	padding: 10%;
	padding-top: 150px;
	animation: 1s ease-out navtrans;
}
@keyframes navtrans {
  0% {
  	transform: translateY(30px);
  	opacity: 0%;
  }
  100% {
  	transform: translateX(0px);
  	opacity: 100%;
  }
}
nav#inicio-nav {
	padding-top: 30px;
}
nav #noticias-container {
	white-space: nowrap;
	overflow-x: auto;
	overflow-y: hidden;
}
nav .noticia {
	text-align: left;
	width: 250px;
	padding: 10px;
	display: inline-block;
	vertical-align: top;
	white-space: normal;
	transition-duration: .2s;
}
nav .noticia:hover {
	transform: scale(1.05);
}
nav .noticia img {
	width: 250px;
	height: 200px;
}
nav .noticia p {
	text-align: justify;
	border: none;
}
nav p {
	border: none;
	border-bottom: 2px solid #DDDDDD;
	padding-bottom: 30px;
}
nav #selecionar button {
	background-color: #CCCCCC;
	border: none;
	border-radius: 5px;
	width: 30px;
	height: 30px;
	transition-duration: 0.2s;
}
nav #selecionar button:hover {
	background-color: #9999FF;
	cursor: pointer;
}
nav#historia h1 {
	text-align: center;
	padding-bottom: 20px;
	border-bottom: 2px solid #DDDDDD;
}
nav#historia p {
	text-align: justify;
}
nav#historia strong {
	font-weight: bolder;
}
nav#historia .historia-div {
	margin-left: 5%;
	width: 40%;
	display: inline-block;
	transition-duration: 1s;
	opacity: 0%;
}
nav#historia .historia-div.ativo {
	opacity: 100%;
}
nav#colunas div {
	margin-right: 5%;
	display: inline-block;
	vertical-align: top;
}
nav button.btazul {
	color: var(--branco);
	background-color: var(--azul);
	border: none;
	border-radius: 20px;
	margin: 10px;
	width: 30%;
	padding: 20px;
	display: inline-block;
	vertical-align: top;
	transition-duration: 0.2s;
}
nav button.btazul:hover {
	transform: scale(1.04);
}
nav button.faq p {
	color: var(--azul);
	background-color: var(--cinza);
	text-align: justify;
	border: none;
	border-radius: 20px;
	padding: 10px;
	display: none;
}
nav img.parc {
	width: 100px;
	margin: 20px;
	margin-left: 0px;
}
form label {
	text-align: right;
}
form input, form select {
	background-color: var(--cinza);
	border: none;
	border-radius: 10px;
	padding: 10px;
	margin: 10px;
}
form #nome, form #email, form #instituto, form #curso {
	width: 30%;
}
form #idade {
	width: 5%;
}
#midias-sociais {
	background-color: var(--cinza-escuro);
	text-align: center;
	padding: 20px;
}	
#midias-sociais i {
	margin-right: 10%;
}
footer {
	background-color: var(--cinza);
	text-align: center;
	padding-top: 2%;
	padding-bottom: 60px;
}
footer .rodape-divs {
	text-align: left;
	margin-left: 4%;
	margin-bottom: 10px;
	width: 25%;
	display: inline-block;
	vertical-align: top;
}
footer .rodape-divs h2 {
	color: var(--azul);
	border-bottom: 2px solid var(--azul);
}
footer .rodape-divs ul {
	list-style-type: none;
	font-weight: bold;
	padding: 0px;
}
footer img.parc {
	width: 100px;
	margin: 20px;
	margin-left: 0px;
}
footer span {
	text-align: center;
	margin: 30px;
}
a:link,a:visited{
	color: var(--azul);
	border: none;
	border-bottom: inset 0 3px 0 0 solid var(--azul);
	text-decoration: none;
  	transition: border-bottom .3s ease-in-out;
}
a:hover,a:active{
	color: var(--azul);
	border: none;
	border-bottom: inset 100px 3px 0 0 solid var(--azul);
	text-decoration: none;
}

/* Ajustar tamanho da barra superior */
@media screen and (min-width: 400px) {
	header.minimizada {
		padding: 2px;
	}
	header.minimizada img{
		height: 30px;
		margin: 0px;
		padding: 0px;
	}
	header.minimizada ul#sidebar, header.minimizada ul#sidebar li{
		padding: 2px;
		margin: 0px;
		margin-left: 50px;
	}
}
/* Estilos para dispositivos mobile */
@media screen and (max-width: 400px) {
	body {
		font-size: 14px;
	}
	header img {
		width: 40%;
	}
	header button#hamburger{
		background-color: transparent;
		border: none;
		display: inline-block;
		transition-duration: .2s;
	}
	header button:hover{
		transform: scale(1.1);
	}
	header ul#sidebar {
		background-color: var(--azul);
		text-align: left;
		top: 0px;
		left: 0px;
		width: 0%;
		height: 100%;
		position: fixed;
		visibility: hidden;
		display: block;
		transition: width ease-out .2s;
	}
	header ul#sidebar li {
		display: block;
	}
	header .dropdown .dropdown-conteudo {
		display: block;
	}
	#fundo {
		background-size: 150%;
		background-position: 50% 80px;
		height: 400px;
	}
	nav {
		padding-top: 80px;
	}
	nav#colunas div {
		margin-right: 5%;
		display: block;
	}
	nav#historia .historia-div {
		margin-left: 0px;
		width: 100%;
		display: block;
	}
	nav #noticias-container {
		white-space: wrap;
		overflow: hidden;
	}
	nav .noticia {
		text-align: left;
		width: 250px;
		padding: 10px;
		display: block;
	}
	nav button.btazul {
		width: 90%;
		display: block;	
	}
	footer .rodape-divs {
		width: 90%;
		margin-bottom: 50px;
		display: block;
	}
}